---
import Button from "./Button.astro";
---
<header class="grid-lg">
	<div class="grid-sm">
		<h1 class="h1">Your Kind of Designer</h1>
		<p class="text-muted narrow">
		  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus
      obcaecati perferendis sed. Excepturi velit accusantium amet! Doloribus
      officiis tempora voluptatibus aperiam odio veniam laboriosam placeat!
      Ducimus maiores eaque aperiam corrupti dolor illo quibusdam autem
      molestias!
		</p>
	</div>
	<div class="grid-sm">
	  <Button text="Contact Me" link="#" style="secondary" />
		<small class="text-muted">No Commitment Contact</small>
	</div>
</header>